/*--------------------------------------------------------------------

                                Accueil

--------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
}

header {
    padding-top: 10px;
    padding-right: 20px;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.degrade {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#F5F5DC, #DCDCDC, #808080);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background-image: url("../images/reunion2.jpg");
    background-size: cover;

    max-height: 100vh;
    overflow-y: auto;
}
  
.image p {
    font-size: 30px;
    color: #fff;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #F3F1F1;
}

.menuB button, .menuB input, .menuNormal button, .menuNormal input {
    color: #F3F1F1;
    background-color: #3F2A35;
}

.menuB input::placeholder, .menuNormal input::placeholder {
    color: #F3F1F1; 
}

.boutonMenu, .searchbar {
    display: inline;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3F2A35;
    color: #FFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px #3F373C;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.boutonMenu:hover {
    background-color: #8BBDBD; 
}

.accueil {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.reunion {
    width: 100%;
    height: auto;
} 

.tchatMenu {
    display: none;
}

.logoTchat:active + .tchatMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border: 3px solid #3F373C;
    border-radius: 10px;
    overflow: hidden;
    background-color: #D8CBB4;
    position: fixed;
    bottom: 100px;
    right: 25px; 
} 

.configMenu {
    display: flex;
    flex-direction: row;
}

.menuNormal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuB {
    display: none;
}

.groupe {
    margin: 5px;
    border-radius: 5px;
}

.messages {
    margin: 5px;
}

.message, .groupe {
    padding: 10px;
    background-color: #F3F1F1;
    color: #3F2A35; 
}

.saisieMessage {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc; 
}

.logoTchat {
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

.groupe:active {
    background-color: #8BBDBD; 
}

@media screen and (max-width: 900px){
    .menuNormal {
        display: none;
    }

    .menuB {
        display: flex;
        flex-direction: column;
    }

    .menuB .menuBurgerAffiche {
        display: none;
    }

    .boutonMenuB {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .boutonMenu {
        border-radius: 0;
    }

    .logoBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-logo {
        position: fixed;
        top: 3%;
        left: 5%;
    }

    .hamburger-logo:active + .menuBurgerAffiche {
        display: flex;
        flex-direction: column;
        border: 3px solid #3F373C;
        border-radius: 10px;
        background: linear-gradient(#F5F5DC, #DCDCDC, #808080);
        position: fixed;
        top: 8%;
        left: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
}

/*--------------------------------------------------------------------

                                Event

--------------------------------------------------------------------*/

.eventListe {
    margin: 10px;  
    padding: 10px;
}

td {
    padding: 15px 20px;
    border: 3px solid #3F2A35;
    text-align: center;
    background-color: #8BBDBD;
}

/*--------------------------------------------------------------------

                                EventActu

--------------------------------------------------------------------*/

.eventActu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.titreNote, .eventActu article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titreNote div {
    width: 30%;
    background-color: #3F2A35;
    border-radius: 20px;
}

.titreNote {
    margin-bottom: 50px;
}

.eventActu p {
    text-align: left;
    justify-content: center;
    background-color: #3F2A35;
    border-radius: 20px;
}

.eventActu article p {
    font-size: medium;
    padding: 20px;
    margin: 5%;
}

.eventActu article div {
    width: 60%;
    height: auto;
}

.eventActu article img {
    margin-left: 20px; 
}

.eventActu article img {
    width: 450px;
    height: 350px;
}

@media screen and (max-width: 900px){
    .eventActu article img {
        display: none;
    }
}

/*--------------------------------------------------------------------

                                Commentaire

--------------------------------------------------------------------*/

.commentaire {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#F5F5DC, #DCDCDC, #808080);
    justify-content: center;
    align-items: center;
    margin: 15% 30%;
}

.commentaire form {
    display: flex;
    flex-direction: column;
}

.commentaire form div:first-child, .commentaire form div:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.commentaire input {
    margin: 10px 0 20px 0;
}

/*--------------------------------------------------------------------

                                Compte

--------------------------------------------------------------------*/

.blocCompte {
    width: auto;
    height: auto;
}

.menuConnexion {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#F5F5DC, #DCDCDC, #808080);
    margin-top: 18%;
    margin-left: 30%;
    border-radius: 10px;
}

.menuConnexion p {
    color: #3F373C;
}

.signIn, .logIn {
    margin: 20px;
}

/*--------------------------------------------------------------------

                                Inscription

--------------------------------------------------------------------*/

.pageInscription {
    width: 50%;
    height: auto;
    margin: 10% auto; 
    padding: 0; 
    background: linear-gradient(#F5F5DC, #DCDCDC, #808080);
    border: 1px solid #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.pageInscription ul {
    list-style: none;
}

.pageInscription li {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
}

.pageInscription input, .pageInscription button {
    background-color: #F5F5DC;
    color: #3F373C;
    border-radius: 10px;
}
/*--------------------------------------------------------------------

                                Connexion

--------------------------------------------------------------------*/

.pageInscription .connexionAutre:last-child {
    width: 40%;
}

.connexionBasique li:nth-child(4) {
    display: flex;
    flex-direction: row;
}

.connexionBasique li:last-child {
    margin-top: 20px;
}

.connexionAutre img {
    width: 30px;
    height: 30px;
}