/*--------------------------------------------------------------------

                                Accueil

--------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.degrade {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#F5F5DC, #DCDCDC, #808080);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background-image: url("../images/reunion.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.image p {
    font-size: 30px;
    color: #fff;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #F3F1F1;
}

button, input {
    color: #F3F1F1;
    background-color: #3F2A35;
}

input::placeholder {
    color: #F3F1F1; 
}

.boutonMenu, .searchbar {
    display: inline;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3F2A35;
    color: #FFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px #3F373C;
}

.boutonMenu:hover {
    background-color: #8BBDBD; 
}


.accueil {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.reunion {
    width: 100%;
    height: 100%;
}

.tchatMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 300px;
    height: 400px;
    border: 3px solid #3F373C;
    border-radius: 10px;
    overflow: hidden;
    background-color: #D8CBB4;
    position: fixed;
    bottom: 80px;
    right: 5px;
    display: none;
}

.configMenu {
    display: flex;
    flex-direction: row;
}

.message, .groupe {
    padding: 10px;
    margin: 5px;
    background-color: #F3F1F1;
    border-radius: 5px;
    color: #3F2A35;
}

.saisieMessage {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc; 
}

.logoTchat {
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

.groupe:active {
    background-color: #8BBDBD; 
}

.menuB {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 10px;
    display: none;
}

.boutonMenuB {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.menuBurgerPage a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menuBurgerPage a:hover {
    background: #444;
}

@media screen and (max-width: 900px){
    .menuNormal {
        display: none;
    }
    .menuB {
        display: contents;
    }
}

/*--------------------------------------------------------------------

                                Event

--------------------------------------------------------------------*/

.eventListe {
    margin: 10px;  
    padding: 10px;
}

td {
    padding: 15px 20px;
    border: 3px solid #3F2A35;
    text-align: center;
    background-color: #8BBDBD;
}

/*--------------------------------------------------------------------

                                Login

--------------------------------------------------------------------*/